openapi: 3.0.0
info:
  title: "Blizzard WoW public API wrapper"
  description: "Auto-generated SDK API wrapper on top of Blizzard public APIs"
  contact:
    name: "George Spatacean"
    email: "george.spatacean@gmail.com"
  version: 0.0.1
servers:
  - url: "https://eu.api.blizzard.com"
  - url: "https://us.api.blizzard.com"
tags:
  - name: "AuctionHouse"
    description: "REST Client SDK to consume Blizzard`s Auction House endpoint(s)"
paths:
  /data/wow/connected-realm/{connectedRealmId}/auctions:
    get:
      tags:
        - "auctionHouse"
      operationId: "getAuctionsByConnectedRealmId"
      parameters:
        - in: "path"
          name: "connectedRealmId"
          required: true
          schema:
            type: "integer"
            minimum: 1
          description: "Connected Realm as per Blizzard API"
          example: 1597
        - in: "query"
          name: "namespace"
          required: true
          schema:
            type: "string"
            minimum: 1
            maximum: 1
          description: "Blizzard API namespace grouping"
          example: "dynamic-eu"
        - in: "query"
          name: "locale"
          schema:
            type: "string"
            minimum: 1
            maximum: 1
          description: "Locale used in response."
          example: "en_US"
      responses:
        200:
          description: "List of the auctions on the specified realm"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auctionsApiResponse"
      security:
        - blizzard_auth: []
components:
  schemas:
    auctionsApiResponse:
      type: "object"
      properties:
        _links:
          $ref: "#/components/schemas/_links"
        connected_realm:
          $ref: "#/components/schemas/connected_realm"
        auctions:
          $ref: "#/components/schemas/auctions"
    self:
      type: "object"
      properties:
        href:
          type: "string"
    _links:
      properties:
        self:
          $ref: "#/components/schemas/self"
    connected_realm:
      type: "object"
      properties:
        href:
          type: "string"
    modifier:
      type: "object"
      properties:
        type:
          type: "integer"
          format: "int32"
        value:
          type: "integer"
          format: "int32"
    item:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        context:
          type: "integer"
          format: "int64"
        bonus_lists:
          type: "array"
          items:
            type: "integer"
            format: "int32"
        modifiers:
          type: "array"
          items:
            $ref: "#/components/schemas/modifier"
        pet_breed_id:
          type: "integer"
          format: "int32"
        pet_level:
          type: "integer"
          format: "int32"
        pet_quality_id:
          type: "integer"
          format: "int32"
        pet_species_id:
          type: "integer"
          format: "int32"
    auction:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        item:
          $ref: "#/components/schemas/item"
        bid:
          type: "integer"
          format: "int64"
        buyout:
          type: "integer"
          format: "int64"
        quantity:
          type: "integer"
          format: "int32"
        unit_price:
          type: "integer"
          format: "int64"
        time_left:
          type: "string"
          enum:
            - "SHORT"
            - "MEDIUM"
            - "LONG"
            - "VERY_LONG"
    auctions:
      type: "array"
      items:
        $ref: "#/components/schemas/auction"
  securitySchemes:
    blizzard_auth:
      type: "oauth2"
      flows:
        clientCredentials:
          tokenUrl: "https://eu.battle.net/oauth/token"
          scopes: {}
    access_token:
      type: "apiKey"
      in: "query"
      name: "access_token"